@if (Show)
{
    <!-- Modal -->
    <div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
        <ErrorComponent Errors="ErrorList"></ErrorComponent>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">@ModalTitle</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="@(()=>OnClose.InvokeAsync())">
                    </button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ModalTitle { get; set; }

    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public IEnumerable<string> ErrorList { get; set; } = new List<string>();

    [Parameter]
    public EventCallback OnClose { get; set; }
}