@if (Show)
{
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">@ModalTitle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@(()=>OnClose.InvokeAsync())">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ModalTitle { get; set; }

    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }
}