@using System.Security.Claims
@using ClienteNet6.Shared.Dto
@inherits LayoutComponentBase

@inject NavigationManager Navigation;

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <main>
                    <div class="top-row px-4">
                        <NavUser></NavUser>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>

        </Authorized>
        <NotAuthorized>
            <div class="">Não autorizado</div>
            @{
                Navigation.NavigateTo("login");
            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>