@using System.Security.Claims
@using ClienteNet6.Client.AuthClient.Interfaces
@using ClienteNet6.Shared.Dto

@inject IAuthToken ManageToken;
@inject NavigationManager Navigation;

@if (User is not null)
{
    @*<nav>
        <p>Select country from the DropDownList</p>

        <select class="form-control">
        </select>
    </nav>*@

    <div class="container-fluid px-1">
        <div class="row">
            <div class="col-md-8 pt-1">
                Olá @User.UserName
            </div>
            <div class="col-6 col-md-4 text-end">
                <img src="/images/user.png" width="32" height="32">
                <button type="button" class="btn btn-light btn-outline-secondary text-black" @onclick=@(()=> LogOut())>Sair</button>
            </div>
        </div>
    </div>

}


@code {
    [CascadingParameter]
    private Task<UserInfo>? user { get; set; }

    private List<(string View, string AcessUrl)> DropDownUser =>
        new List<(string, string)>() { ("Configurar", "/user"), ("Sair", "/logout") };

    private UserInfo? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = ManageToken.GetUser();
        await base.OnInitializedAsync();
    }

    private async Task LogOut()
    {
        await ManageToken.RemoveToken();
        Navigation.NavigateTo("/", true);
    }
}
